<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <p class="navbar-text"><a href='/landing_page#Directions'>Directions</a></p>
    <p class="navbar-text"><a href='/landing_page#Contact_Us'>Contact Us</a></p>
  </div>
</nav>