<%= render 'navbar' %>
<body>

<div class="backgroundLogo">
</div>

<section class="blankSection">
    <div class="bounceChevron">
        <a href="landing_page#Time"><img src="images/chevron.png"></a>
    </div>
</section>

<div>
    <section class="standardSection wow fadeInUp" data-wow-delay="0.25s" id="Time">
        <table>
            <tr>
              <td align="center">
                    <h2>When</h2>
                    <p>Enjoy July 1-3 at Art in the Barn!</p>
                    <table class='table'>
                        <thead>
                            <th>
                                Day
                            </th>
                            <th>
                                Hours
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Saturday (7/1)</td>
                                <td>10am-4pm</td>
                            </tr>
                            <tr>
                                <td>Sunday (7/2)</td>
                                <td>10am-4pm</td>
                            </tr>
                            <tr>
                                <td>Monday (7/3)</td>
                                <td>10am-4pm</td>
                            </tr>
                        </tbody>
                    </table>
              </td>
              <td align="center">
                    <img class="sectionPic hidePic" src="/images/fireworks_blue.jpg">
              </td>
            </tr>
        </table>
    </section>
</div>

<section class="standardSection wow fadeInUp" data-wow-delay="0.4s" id="Artists">
    <center>
        <h2>Artists</h2>
        <table class='table' style="width:90%!important">
            <thead>
                <th>
                    Artist
                </th>
                <th>
                    Website / Email
                </th>
            </thead>
            <tbody>
              <tr>
                <td>Peggy Bitler</td>
                <td><a href='https://nottitoffee.com/'>https://nottitoffee.com/</a></td>
              </tr>
              <tr>
                <td>Suzanne Brooks</td>
                <td><a href='http://www.suzannebrooks.gallery'>www.suzannebrooks.gallery</a></td>
              </tr>
              <tr>
                <td>Robin & Daniel Cater</td>
                <td><a href='http://Caterpots.com'>www.caterpots.com</a></td>
              </tr>
              <tr>
                <td>Will Fernandez</td>
                <td><a href='willfernandezart@yahoo.com'></a>willfernandezart@yahoo.com</td>
              </tr>
              <tr>
                <td>Sunny Stack Goode</td>
                <td><a href='http://www.sunnygoode.com'>www.sunnygoode.com</a></td>
              </tr>
              <tr>
                <td>Maddie Merriweather</td>
                <td><a href='http://www.maddiemerriweather.com'>www.maddiemerriweather.com</a></td>
              </tr>
              <tr>
                <td>Dawn Motsinger</td>
                <td><a href='http://www.dawnmotsinger.com'>www.dawnmotsinger.com</a></td>
              </tr>
              <tr>
                <td>John Reeves</td>
                <td><a href='http://www.reevesridgecraftsmen.com'>www.reevesridgecraftsmen.com</a></td>
              </tr>
              <tr>
                <td>Anne Blackwell Thompson</td>
                <td><a href='http://www.blackwellbotanicals.com'>www.blackwellbotanicals.com</a></td>
              </tr>
              <tr>
                <td>Chris Thompson</td>
                <td><a href='http://www.lifeinprogressphotography.com'>www.lifeinprogressphotography.com</a></td>
              </tr>
            </tbody>
        </table>
    </center>
    <table>
        <tr>
            <td>
                <img class="img-responsive col-xs-12" src="/images/dawn-jewelry.JPG">
            </td>
            <td>
                <img class="sectionPic img-responsive col-xs-12" src="/images/paintings.JPG">
            </td>
            <td>
                <img class="sectionPic img-responsive col-xs-12" src="images/NottiToffee.JPG">
            </td>
        </tr>
    </table>
 </section>

<section class="standardSection wow fadeInUp" data-wow-delay=".4s" id="Music">
    <table>
      <tr>
        <td align="center">
            <h2>Music</h2>
            <p>Artists TBA</p>
        </td>
        <td align="center">
            <img style="max-height: 300px;width: auto;"class="sectionPic img-responsive col-xs-12" src="images/boat_house_boys.jpg">
        </td>
      </tr>
    </table>
                <table class='table'style="width:90%!important">
                <thead>
                    <th>
                        Band
                    </th>
                    <th>
                        Website/Email
                    </th>
                </thead>
                <tbody>
                    <tr>
                      <td>TBA</td>
                      <td>TBA</td>
                    </tr>
                </tbody>
            </table>

</section>

<section id="Directions" class="standardSection wow fadeInUp" data-wow-delay="0.4s">
    <center>
        <h1>Directions</h1>
    </center>
        <strong>Directions from Winston-Salem, Greensboro and High Point, and Raleigh, Durham and Chapel Hill:</strong>
        <p>Take Interstate 40 West to Highway 421 West. Take I-77 North to Exit #83 at Elkin, then travel 17 to 18 miles on Highway 21 North to the Camp Butler Road (on left) and Mountain View Road (on right) intersection. There is no stop sign. However, there is a fairly big Camp Cheerio sign on the left. At this intersection, follow signs to the choose and cut tree field.</p>
        <strong>From Statesville, Charlotte and South Carolina:</strong>
        <p>Take I- 77 North to Exit #83 at Elkin, then follow the above directions.</p>
            <center>
                <div class="google-maps">
                    <iframe
                        width="600"
                        height="450"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD-qVE3W-IIxyuU5ix2x9_q4IijYtcvq34
                        &q=147+Camp+Butler+Road,Glade+Valley+NC
                        &zoom=13">
                    </iframe>
                </div>
            </center>
</section>


<section id="Contact_Us" class="standardSection wow fadeInUp" data-wow-delay="0.4s">
    <center>
      <h1>Contact Us</h1>
      <p><strong>Phone#</strong> 336.657.1001</p>
      <p><strong>Email:</strong> motsinger.d@gmail.com</p>
    </center>
</section>
<p></p>
</body>
