<header>
</header>
<%= render 'navbar' %>

<img class="bigPic" src="images/logo.jpg">




<section class="standardSection" id="Time">
    <img class="sectionPic" src="/images/fireworks_blue.jpg">
    <div class="textBox">
    <center>
        <h2>When</h2>
        <p>Enjoy July 3-5 at Art in the Barn!</p>
        <table>
            <tr>
                <td>
                    <strong>Day</strong>
                </td>
                <td>
                    <strong>Hours</strong>
                </td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>10am-7pm</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>10am-4pm</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>10am-4pm</td>
            </tr>
        </table>
    </center>
    </div>
</section>

<section class="standardSection" id="Artists">
    <img class="sectionPic" src="/images/fireworks_blue.jpg">
    <center>
        <h2>Artists</h2>
        <p>At Art in the Barn if they are selling it they made it!</p>
    </center>
</section>

<section class="standardSection" id="Music">
    <img class="sectionPic" src="images/boat_house_boys.jpg">
    <center>
        <h2>Music</h2>
        <p>Enjoy the musical stylings of...the Boat House Boys and other people</p>
    </center>
</section>

<section id="Directions" class="standardSection">
    <center>
        <h1>Directions</h1>
    </center>
        <strong>Directions from Winston-Salem, Greensboro and High Point, and Raleigh, Durham and Chapel Hill:</strong>
        <p>Take Interstate 40 West to Highway 421 West. Take I-77 North to Exit #83 at Elkin, then travel 17 to 18 miles on Highway 21 North to the Camp Butler Road (on left) and Mountain View Road (on right) intersection. There is no stop sign. However, there is a fairly big Camp Cheerio sign on the left. At this intersection, follow signs to the choose and cut tree field.</p>
        <strong>From Statesville, Charlotte and South Carolina:</strong>
        <p>Take I- 77 North to Exit #83 at Elkin, then follow the above directions.</p>
</section>

<section id="Contact_Us" class="standardSection">
    <center>
      <h1>Contact Us</h1>
      <p><strong>Phone#</strong> 336.657.1001</p>
      <p><strong>Email:</strong> motsinger.d@gmail.com</p>
    </center>
</section>