<header>
</header>
<%= render 'navbar' %>

<img src="images/logo.jpg">

<img src="images/fireworks_blue.jpg">

<img src="images/boat_house_boys.jpg">

<section id="Time">
    <h2>When</h2>
    <p>Enjoy July 3-5 at Art in the Barn!</p>
</section>

<section id="Artists">
    <h2>Artists</h2>
</section>

<section id="Music">
    <h2>Music</h2>
    <p>Enjoy the musical stylings of...the Boat House Boys and other people</p>
</section>

<section id="Directions">
    <h1>Directions</h1>
</section>

<section id="Contact_Us">
    <h1>Contact Us</h1>
</section>