<%= render 'navbar' %>
<body>

<!-- <div class="backgroundLogo">
</div>

<section class="blankSection">
    <div class="bounceChevron">
        <a href="landing_page#Time"><img src="images/chevron.png"></a>
    </div>
</section> -->

<div>
    <section class="standardSection wow fadeInUp" data-wow-delay="0.25s" id="Time">
        <table>
            <tr>
              <td align="center">
                    <h2>When</h2>
                    <p>Enjoy July 4-6 at Art in the Barn!</p>
                    <table class='table'>
                        <thead>
                            <th>
                                Day
                            </th>
                            <th>
                                Hours
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Thursday (7/4)</td>
                                <td>10am-4pm</td>
                            </tr>
                            <tr>
                                <td>Friday (7/5)</td>
                                <td>10am-4pm</td>
                            </tr>
                            <tr>
                                <td>Saturday (7/6)</td>
                                <td>10am-4pm</td>
                            </tr>
                        </tbody>
                    </table>
              </td>
              <td align="center">
                    <img class="sectionPic hidePic" src="/images/logo.jpg">
              </td>
            </tr>
        </table>
    </section>
</div>

<section class="standardSection wow fadeInUp" data-wow-delay="0.4s" id="Artists">
    <center>
        <h2>Artists</h2>
        <table class='table' style="width:90%!important">
            <thead>
                <th>
                    Artist
                </th>
                <th>
                    Website / Email
                </th>
            </thead>
            <tbody>
              <tr>
                <td>Peggy Bitler</td>
                <td><a href='https://nottitoffee.com/'>https://nottitoffee.com/</a></td>
              </tr>
              <tr>
                <td>Robin & Daniel Cater</td>
                <td><a href='http://Caterpots.com'>www.caterpots.com</a> / <a href='https://www.danielcater.art'>www.danielcater.art</a></td>
              </tr>
              <tr>
                <td>Grassy Creek Vineyard </td>
                <td><a href='http://www.grassycreekvineyard.com/'>www.grassycreekvineyard.com</a></td>
              </tr>
              <tr>
                <td>Katherine Hanes</td>
                <td><a href='https://www.katherine-hanes.com/'>www.katherine-Hanes.com</a></td>
              </tr>
              <tr>
                <td>James Garrett</td>
                <td><a href='http://www.jamespgarrett.net/'>www.jamespgarrett.net</a></td>
              </tr>
              <tr>
                <td>Bowman Gray IV</td>
                <td><a href='https://www.bowmangrayphotography.com/'>www.bowmangrayphotography.com</a></td>
              </tr>
              <tr>
                <td>Dawn Motsinger</td>
                <td><a href='http://www.dawnmotsinger.com'>www.dawnmotsinger.com</a></td>
              </tr>
              <tr>
                <td>Annie Waldrop</td>
                <td><a href='http://anniewaldrop.net/'>http://anniewaldrop.net</a></td>
              </tr>
              <tr>
                <td>Ricky Brady</td>
                <td><a href='http://blueridgewoodcrafter.com/'>blueridgewoodcrafter.com/</a></td>
              </tr>
            </tbody>
        </table>
    </center>
    <table>
      <tr>
        <!-- First row, images 4,1,2 -->
          <td>
              <img class="sectionPic img-responsive col-xs-12" src="images/IMG_4.JPG">
          </td>
          <td>
              <img class="sectionPic img-responsive col-xs-12" src="images/IMG_1.JPG">
          </td>
          <td>
              <img class="sectionPic img-responsive col-xs-12" src="images/IMG_2.JPG">
          </td>
      </tr>
      <tr>
        <!-- 2nd Row, images 3, 5, 7 -->
          <td style="padding-bottom: 10px;"> 
            <!-- quick, dirty styling fix for this image touching the next row -->
              <img class="img-responsive col-xs-12" src="images/IMG_3.JPG">
          </td>
          <td>
              <img class="sectionPic img-responsive col-xs-12" src="images/IMG_5.JPG">
          </td>
          <td>
              <img class="sectionPic img-responsive col-xs-12" src="images/IMG_7.JPG">
          </td>
      </tr>
      <tr>
        <tr>
            <td>
                <img class="img-responsive col-xs-12" src="/images/dawn-jewelry.JPG">
            </td>
            <td>
                <img class="sectionPic img-responsive col-xs-12" src="/images/paintings.JPG">
            </td>
            <td>
                <img class="sectionPic img-responsive col-xs-12" src="images/NottiToffee.JPG">
            </td>
        </tr>
    </table>
 </section>

<!-- <section class="standardSection wow fadeInUp" data-wow-delay=".4s" id="Music">
    <table>
      <tr>
        <td align="center">
            <h2>Music</h2>
            <p>Artists TBA</p>
        </td>
        <td align="center">
            <img style="max-height: 300px;width: auto;"class="sectionPic img-responsive col-xs-12" src="images/boat_house_boys.jpg">
        </td>
      </tr>
    </table>
                <table class='table'style="width:90%!important">
                <thead>
                    <th>
                        Band
                    </th>
                    <th>
                        Website/Email
                    </th>
                </thead>
                <tbody>
                    <tr>
                      <td>TBA</td>
                      <td>TBA</td>
                    </tr>
                </tbody>
            </table>

</section> -->

<section id="Directions" class="standardSection wow fadeInUp" data-wow-delay="0.4s">
    <center>
        <h1>Directions</h1>
    </center>
        <strong>Directions from Winston-Salem, Greensboro and High Point, and Raleigh, Durham and Chapel Hill:</strong>
        <p>Take Interstate 40 West to Highway 421 West. Take I-77 North to Exit #83 at Elkin, then travel 17 to 18 miles on Highway 21 North to the Camp Butler Road (on left) and Mountain View Road (on right) intersection. There is no stop sign. However, there is a fairly big Camp Cheerio sign on the left. At this intersection, follow signs to the choose and cut tree field.</p>
        <strong>From Statesville, Charlotte and South Carolina:</strong>
        <p>Take I- 77 North to Exit #83 at Elkin, then follow the above directions.</p>
            <center>
                <div class="google-maps">
                    <iframe
                        id="google-maps-iframe"
                        width="600"
                        height="450"
                        frameborder="0" style="border:0"
                        src="">
                    </iframe>
                </div>
            </center>
  <script type="text/JavaScript">
    var mapsURL = "https://www.google.com/maps/embed/v1/place?key=" + gon.google_maps_key + "&q=147+Camp+Butler+Road,Glade+Valley+NC&zoom=13"
    var maps_url_element = document.getElementById("google-maps-iframe");
    maps_url_element.src=mapsURL;
  </script>
</section>


<section id="Contact_Us" class="standardSection wow fadeInUp" data-wow-delay="0.4s">
    <center>
      <h1>Contact Us</h1>
      <p><strong>Phone#</strong> 336.657.1001</p>
      <p><strong>Email:</strong> motsinger.d@gmail.com</p>
    </center>
</section>
<p></p>
</body>
