<%= render 'navbar' %>
<body>

<!-- <center>
    <img class="bigLogo" src="images/logo.jpg">
</center>
 -->
<section class="blankSection">
    <div class="bounceChevron">
        <a href="landing_page#Time"><img src="images/chevron.png"></a>
    </div>
</section>

<div>
    <section class="standardSection wow fadeInUp" data-wow-delay="0.25s" id="Time">
        <table>
            <tr>
              <td align="center">
                    <h2>When</h2>
                    <p>Enjoy July 3-5 at Art in the Barn!</p>
                    <table class='table'>
                        <thead>
                            <th>
                                Day
                            </th>
                            <th>
                                Hours
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Thursday (7/2)</td>
                                <td>10am-7pm</td>
                            </tr>
                            <tr>
                                <td>Friday (7/3)</td>
                                <td>10am-4pm</td>
                            </tr>
                            <tr>
                                <td>Saturday (7/4)</td>
                                <td>10am-4pm</td>
                            </tr>
                        </tbody>
                    </table>
              </td>
              <td align="center">
                    <img class="sectionPic" src="/images/fireworks_blue.jpg">
              </td>
            </tr>
        </table>
        <!-- <div class="mobileStandardSection">
            <center>
                    <h2>When</h2>
                    <p>Enjoy July 2-4 at Art in the Barn!</p>
                    <table class='table'>
                        <thead>
                            <th>
                                Day
                            </th>
                            <th>
                                Hours
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Thursday</td>
                                <td>10am-7pm</td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td>10am-4pm</td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td>10am-4pm</td>
                            </tr>
                        </tbody>
                    </table>
            </center>
        </div> -->
    </section>
</div>

<section class="standardSection wow fadeInUp" data-wow-delay="0.4s" id="Artists">
    <center>
        <h2>Artists</h2>
        <p>At Art in the Barn if they are selling it they made it!</p>
    </center>
    <table>
        <tr>
            <td>
                <img class="sectionPic img-responsive" src="/images/dawn-jewelry.JPG">
            </td>
            <td>
                <img class="sectionPic img-responsive" src="/images/paintings.JPG">
            </td>
            <td>
                <img class="sectionPic img-responsive" src="images/NottiToffee.JPG">
            </td>
        </tr>
    </table>
<!--     <div class="mobileStandardSection">
        <center>
            <h2>Artists</h2>
            <p>At Art in the Barn if they are selling it they made it!</p>
        </center>
    </div>
 -->
 </section>

<section class="standardSection wow fadeInUp" data-wow-delay=".4s" id="Music">
    <table>
      <tr>
        <td align="center">
            <h2>Music</h2>
            <p>Enjoy the musical stylings of...the Boat House Boys and other people</p>
        </td>
        <td align="center">
            <img style="max-height: 30%"class="sectionPic img-responsive" src="images/banjo.JPG">
        </td>
      </tr>
    </table>
 <!--    <div class="mobileStandardSection">
        <center>
            <h2>Music</h2>
            <p>Enjoy the musical stylings of...the Boat House Boys and other people</p>
        </center>
    </div> -->
</section>

<section id="Directions" class="standardSection wow fadeInUp" data-wow-delay="0.4s">
    <center>
        <h1>Directions</h1>
    </center>
        <strong>Directions from Winston-Salem, Greensboro and High Point, and Raleigh, Durham and Chapel Hill:</strong>
        <p>Take Interstate 40 West to Highway 421 West. Take I-77 North to Exit #83 at Elkin, then travel 17 to 18 miles on Highway 21 North to the Camp Butler Road (on left) and Mountain View Road (on right) intersection. There is no stop sign. However, there is a fairly big Camp Cheerio sign on the left. At this intersection, follow signs to the choose and cut tree field.</p>
        <strong>From Statesville, Charlotte and South Carolina:</strong>
        <p>Take I- 77 North to Exit #83 at Elkin, then follow the above directions.</p>
            <center>
                <iframe
                    width="600"
                    height="450"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD-qVE3W-IIxyuU5ix2x9_q4IijYtcvq34
                    &q=147+Camp+Butler+Road,Glade+Valley+NC
                    &zoom=13">
                </iframe>
            </center>
</section>


<section id="Contact_Us" class="standardSection wow fadeInUp" data-wow-delay="0.4s">
    <center>
      <h1>Contact Us</h1>
      <p><strong>Phone#</strong> 336.657.1001</p>
      <p><strong>Email:</strong> motsinger.d@gmail.com</p>
    </center>
</section>
<p></p>
</body>