
/* PICTURES */

/* Not ideal max height for image, especially if user has gaint screen */
.bigLogo{
    max-width: 100%;
    padding-top: 7%;
    max-height: 800px;
}
.sectionPic{
    max-width: 30%;
    max-width: 300px;
    max-height: 90%;
    border-radius: 50px;
}
@media (max-width: 600px){
    .sectionPic{
        visibility: hidden;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .sectionPic{
        visibility: hidden;
    }
}
body {
    background-color: black;
    background-image: url("logo.jpg") !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto 85%;

}

/* SECTIONS */
.blankSection{
    height: 800px;
}
.standardSection{
    padding: 3%;
    margin: 20px;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.42), 0px 0px 1px rgba(0, 0, 0, 0.12), 0px -1px 2px rgba(14, 60, 86, 0.1) inset;
}

/* Can I combine the following 2 media queries? */
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .mobileStandardSection{
        display: initial;
    }
    .standardSection table{
        display: none;
    }
    /* This below is a piss-poor way of doing it but is it quick, note to self, find alternatve quick fix */
    .mobileStandardSection table{
        display: initial;
    }
}
@media (max-width: 600px){
    .standardSection table{
        display: none;
    }
    /* This below is a piss-poor way of doing it but is it quick, note to self, find alternatve quick fix */
    .mobileStandardSection table{
        display: initial;
    }
}
@media (min-width: 601px){
    .standardSection table{
        width: 100%;
        visibility: visible;
    }
       .mobileStandardSection{
        display: none;
    }
}
