<!DOCTYPE html>
<html>
<head>
  <title>Art In The Barn</title>
  <link rel="shortcut icon" href="/images/logo.jpg"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

  <script src="js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
